# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Streamlit cache
.streamlit/

# Python egg / distribution files
*.egg-info/
dist/
build/
